{% extends 'base.html.twig' %}

{% set menuCurrentItem="home" %}

{% block header_title %}{{  parent() }} - Home{% endblock %}

{% block main_title %}Boiler Reader{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    @todo
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
